@import '../../Styles/variables';

.sideNav {
  flex: 1;
  max-width: 400px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  background-color: lighten($darkPrimary, 3);
  color: white;

  .navLinks {
    display: flex;
    flex-direction: column;
 
    li {
      display: block;
      text-align: right;
      margin-bottom: 20px;

      a {
        color: $white;
        display: inline-block;
        padding: 20px 50px;
        position: relative;
        font-size: 1.1em;
        overflow: hidden;
        letter-spacing: 1px;

        span {
          position: relative;
          z-index: 100;;
        }

        &::after {
          content: '';
          display: block;
          z-index: 0;
          background: $secondary;
          width: 100%;
          height: 100%;
          left: 105%;
          top: 0;
          position: absolute;
          transition: left .25s ease-in-out;
          border-radius: 32px 0 0 32px;
        }

        &:hover {
          color: $secondary;
        }
        
        &.active {
          &::after {
            left: 0%;
          }

          &:hover {
            color: $white;
          }
        }

      }

    }

  }

}
