.sideNav {
  flex: 1;
  padding: 20px;
  max-width: 340px;
  display: flex;
  flex-direction: column;

  .navLinks {
    display: flex;
    flex-direction: column;

    li {
      padding: 1em 0;
    }

  }

}
