@import '../../../Styles/variables';

.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  justify-items: stretch;
  align-content: stretch;
  align-items: stretch;
  text-align: right;
}


.calendarHeader {
  flex: 0;
  display: flex;
  padding-top: 30px;

  .weekDays {
    flex: 1;
    padding: 8px;
  }
}

.calendarDays {
  flex: 1;
  display: flex;
  flex-direction: column;

  .calendarRow {
    border-top: solid 1px white;
    flex: 1;
    display: flex;
    flex-direction: row;
  
    .day, .empty {
      font-size: 1.2em;
      flex: 1;
      padding: 8px;
      border-left: solid 1px rgba(white, 0.2);
      font-weight: 500;
      cursor: pointer;
      
      &:hover {
        background: rgba($bright, 0.3);
      }

      &:first-child {
        border-left: none;
      }

      &.currentDay {
        background: $bright;
        color: $darkPrimary;
        font-weight: bold;
      }
    
    }

    .empty {
      padding-top: calc(8px + .1em);
      font-size: 1em;
      background: darken($darkPrimary, 2);
      color: rgba(white, 0.2);
      font-weight: 300;
    }

  }
}

