.container {
    max-width: 1280px;
    margin: 0 auto;
    border: 3px solid red;
    padding: 5rem;
    display: grid;

    
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
