.todos {
  
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    input {
      flex: 1;
    }

    button {
      padding: 1em 3em;
    }

  }

  .toDoItem {
    padding: 0 2em;
    margin-top: 15px;
  }
  
}
