
// Colors


$darkPrimary: #17223b;
$primary: #263859;
$lightPrimary: lighten($primary, 10);
$secondary: #ff6768;
$terciary: #6b778d;

$white: #FFFFFF;

// Fonts 
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,300i,400,400i&display=swap');


$headerFontFamily: 'Montserrat', sans-serif;
$bodyFontFamily: 'Roboto', sans-serif;

h1, h2, h3, h4 {
  font-family: $headerFontFamily
}

body {
  font-family: $bodyFontFamily;
}

// forms
