@import './reset';
@import './variables';

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: $darkPrimary;
  color: $white;
}

// links
a {
  text-decoration: none;
  color: $primary;
}


.appContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.pageContainer {
  flex: 5;
  background: $darkPrimary;
  padding: 20px 50px;
  //border-radius: 40px 0 0 0;
}

// different types of containers...