.signup-container {
    border: solid green 5px;
    position: absolute;
    padding: 1rem;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50vw;

    height: 250px;
    width: 200px;

    div {
        margin: 10px;
    }

}