.todos {
    border: solid black 1px;
    padding: 1rem;
    width: auto;
    height: 175px;
    

    &-form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        input {
            width: 10rem;
        }

        button {
            width: 5rem;
        }
    }

    &-list-group-item {
        padding: 0 2rem;
        margin-top: 15px;
        
    }
}
